a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
	'menu main main main right right'
	'menu main main main right right'
	'menu main main main right right'
	'menu main main main right right'
	'menu main main main right right'
	'menu main main main right right'
	'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 3px;
  background-color: #2196F3;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 10px 20px 10px;
  font-size: 30px;
}

.menuItem {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-family: Arial;
}

.dropbtn {
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  border: none;
  background: none;
  font-family: Arial;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(249, 249, 249, 0.95);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 25px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
}

@media only screen and (max-width: 768px) {
	
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'main'
	'right'
	'footer';
	
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} 

.slikeMobitel {
	width: 70%;
	height: auto;
}

}

